<p>
  <b>Name:</b>
  <%= @plan.name %>
</p>

<p>
  <b>Description:</b>
  <%= @plan.description %>
</p>

<p>
  <b>Preview image:</b>
  <%= @plan.preview_image %>
</p>

<p>
  <b>Plan file:</b>
  <%= @plan.plan_file %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
